<h2><%=@question.title %></h2>
<br>
<div class="row">
  <div class="col-sm-1">
    <!-- Poner los votos -->
  </div>
  <div class="col-sm-11">
    <p><%= markdown(@question.description) %></p>
    <br>
    <% @question.comments.each do |comment| %>

      <!-- ****** CON PANELES ****** -->
      <!-- <div class="panel panel-default">
        <header class="panel-heading">
          <strong><%= comment.user.email %> commented this <%= time_ago_in_words(comment.created_at) %> ago</strong>
        </header>
        <div class="panel-body">
          <%= comment.body %>
        </div>
        <% if comment.user == current_user %>
          <div class="panel-footer">
            <%= link_to "Delete", question_comment_path(@question, comment), method: :delete, class:"btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div> -->
      <!-- ****** CON PANELES FIN ****** -->

      <!-- ****** COMO TEXTO ****** -->
      <p class="comment"><%= comment.body %> — <span class="creator"><%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</span></p>
      <% if comment.user == current_user %>
        <div class="text-right">
          <%= link_to "Delete", question_comment_path(@question, comment), method: :delete, class:"btn btn-danger btn-sm" %>
          <br><br>
        </div>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= render 'commentF' %>
    <% end %>
    <!-- ****** COMO TEXTO FIN ****** -->
  </div>
</div>

<h3><%= pluralize(@question.answers.count, "answer") %></h3>
<div class="row">
  <div class="col-sm-1">
    <!-- Poner los votos -->
  </div>
  <div class="col-sm-11">
    <% @question.answers.each do |answer| %>
      <p><%= markdown(answer.body) %></p>
      <br>
      <% answer.comments.each do |comment| %>

        <p class="comment"><%= comment.body %> — <span class="creator"><%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</span></p>
        <% if comment.user == current_user %>
          <div class="text-right">
            <%= link_to "Delete", question_comment_path(@question, comment), method: :delete, class:"btn btn-danger btn-sm" %>
            <br><br>
          </div>
        <% end %>
        <hr>
        <% if user_signed_in? %>
          <%= render 'commentF' %>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>

<h4>Tu respuesta</h4>
<hr>
<%= form_for [@question, @question.answers.build] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class:"form-control", rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
